@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(245, 244, 244);
}

.sectionTwo-bg {
  background-color: #efffeb;
}

.sectionFour-bg {
  background-color: #293349;
}

.cardPage-bg {
  background-color: #293349;
}

.adds-bg {
  background-color: #f0f0f0;
}

.footer-bg {
  background-color: #f0f0f0;
}

.carousel-indicators {
  bottom: -5rem !important;
}

.carousel-indicators >* {
 height: 10px !important;
 width: 10px !important;
 border-radius: 100%;
 background-color: green;
}

.slider-bg {
  background-color: #f5f8ff;
}

.slider-bg-b {
  background-color: #293349;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 100%;
  scale: 1.3;
  background-color: gray;
}